table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
}

table tr:hover {
  background-color: #e0e0e0;
  color: #000;
}

.btn-nuevo{
    background-color: green;
    color: white;
}

.btn-editar{
    background-color: blue;
    color: white;
}

.btn-eliminar{
    background-color: red;
    color: white;
}

.success{
    background-color: green;
    color: white;
}

.error{
    background-color: red;
    color: white;
}